*{
    margin: 0;
    padding: 0;
}

#image{
    width: 100%;
}

.sale{
    width: 86%;
    height: 130px;
    margin-left: 116px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.banner{
    width: 86%;
    height: 380px;
    margin-left: 116px;
    margin-bottom: 20px;
}

.delivery{
    width: 86%;
    height: 180px;
    margin-left: 116px;
    margin-bottom: 20px; 
}

#four{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



